@import url('./shared/css/player-walk-down.css');

:root {
  --pixel-sprite: 4px;
  --scale: 2;
  --background-color: #b6e6ff;
  --animation-default: 1s step-start 0s infinite normal none running;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  font-family: 'Press Start 2P', cursive;
}

.sprite {
  width: var(--pixel-sprite);
  height: var(--pixel-sprite);
  transform: scale(var(--scale));
  margin-left: -36px;
  animation: var(--animation-default) walk_down;
}

.menu {
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu__sprite {
  height: 110px;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  padding: .5rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 5px rgb(163, 224, 255),
              5px 0 rgb(163, 224, 255),
              0px -5px rgb(163, 224, 255),
              -5px 0px rgb(163, 224, 255);
  background: #fff;
  margin-top: 1rem;
}

li:hover {
  transform: translateY(2px);
}

a {
  color: var(--background-color);
  text-decoration: none;
}