@keyframes coin {
  25% {
    box-shadow: rgb(0, 0, 0) 18px 3px, rgb(0, 0, 0) 21px 3px,
      rgb(0, 0, 0) 24px 3px, rgb(0, 0, 0) 27px 3px, rgb(0, 0, 0) 30px 3px,
      rgb(0, 0, 0) 15px 6px, rgb(250, 193, 60) 18px 6px,
      rgb(255, 220, 116) 21px 6px, rgb(255, 220, 116) 24px 6px,
      rgb(255, 220, 116) 27px 6px, rgb(255, 220, 116) 30px 6px,
      rgb(0, 0, 0) 33px 6px, rgb(0, 0, 0) 12px 9px, rgb(250, 193, 60) 15px 9px,
      rgb(250, 193, 60) 18px 9px, rgb(243, 175, 18) 21px 9px,
      rgb(243, 175, 18) 24px 9px, rgb(243, 175, 18) 27px 9px,
      rgb(250, 193, 60) 30px 9px, rgb(255, 220, 116) 33px 9px,
      rgb(0, 0, 0) 36px 9px, rgb(0, 0, 0) 12px 12px,
      rgb(250, 193, 60) 15px 12px, rgb(243, 175, 18) 18px 12px,
      rgb(250, 193, 60) 21px 12px, rgb(250, 193, 60) 24px 12px,
      rgb(250, 193, 60) 27px 12px, rgb(255, 220, 116) 30px 12px,
      rgb(250, 193, 60) 33px 12px, rgb(0, 0, 0) 36px 12px,
      rgb(0, 0, 0) 12px 15px, rgb(250, 193, 60) 15px 15px,
      rgb(243, 175, 18) 18px 15px, rgb(250, 193, 60) 21px 15px,
      rgb(250, 193, 60) 24px 15px, rgb(250, 193, 60) 27px 15px,
      rgb(255, 220, 116) 30px 15px, rgb(250, 193, 60) 33px 15px,
      rgb(0, 0, 0) 36px 15px, rgb(0, 0, 0) 12px 18px,
      rgb(250, 193, 60) 15px 18px, rgb(243, 175, 18) 18px 18px,
      rgb(250, 193, 60) 21px 18px, rgb(250, 193, 60) 24px 18px,
      rgb(250, 193, 60) 27px 18px, rgb(255, 220, 116) 30px 18px,
      rgb(250, 193, 60) 33px 18px, rgb(0, 0, 0) 36px 18px,
      rgb(0, 0, 0) 12px 21px, rgb(243, 175, 18) 15px 21px,
      rgb(250, 193, 60) 18px 21px, rgb(255, 220, 116) 21px 21px,
      rgb(255, 220, 116) 24px 21px, rgb(255, 220, 116) 27px 21px,
      rgb(250, 193, 60) 30px 21px, rgb(250, 193, 60) 33px 21px,
      rgb(0, 0, 0) 36px 21px, rgb(0, 0, 0) 15px 24px,
      rgb(243, 175, 18) 18px 24px, rgb(243, 175, 18) 21px 24px,
      rgb(243, 175, 18) 24px 24px, rgb(243, 175, 18) 27px 24px,
      rgb(250, 193, 60) 30px 24px, rgb(0, 0, 0) 33px 24px,
      rgb(0, 0, 0) 18px 27px, rgb(0, 0, 0) 21px 27px, rgb(0, 0, 0) 24px 27px,
      rgb(0, 0, 0) 27px 27px, rgb(0, 0, 0) 30px 27px;
  }
  50% {
    box-shadow: rgb(0, 0, 0) 21px 3px, rgb(0, 0, 0) 24px 3px,
      rgb(0, 0, 0) 27px 3px, rgb(0, 0, 0) 18px 6px,
      rgb(255, 220, 116) 21px 6px, rgb(255, 220, 116) 24px 6px,
      rgb(255, 220, 116) 27px 6px, rgb(0, 0, 0) 30px 6px,
      rgb(0, 0, 0) 15px 9px, rgb(250, 193, 60) 18px 9px,
      rgb(243, 175, 18) 21px 9px, rgb(243, 175, 18) 24px 9px,
      rgb(243, 175, 18) 27px 9px, rgb(250, 193, 60) 30px 9px,
      rgb(0, 0, 0) 33px 9px, rgb(0, 0, 0) 15px 12px,
      rgb(243, 175, 18) 18px 12px, rgb(250, 193, 60) 21px 12px,
      rgb(250, 193, 60) 24px 12px, rgb(250, 193, 60) 27px 12px,
      rgb(255, 220, 116) 30px 12px, rgb(0, 0, 0) 33px 12px,
      rgb(0, 0, 0) 15px 15px, rgb(243, 175, 18) 18px 15px,
      rgb(250, 193, 60) 21px 15px, rgb(250, 193, 60) 24px 15px,
      rgb(250, 193, 60) 27px 15px, rgb(255, 220, 116) 30px 15px,
      rgb(0, 0, 0) 33px 15px, rgb(0, 0, 0) 15px 18px,
      rgb(243, 175, 18) 18px 18px, rgb(250, 193, 60) 21px 18px,
      rgb(250, 193, 60) 24px 18px, rgb(250, 193, 60) 27px 18px,
      rgb(255, 220, 116) 30px 18px, rgb(0, 0, 0) 33px 18px,
      rgb(0, 0, 0) 15px 21px, rgb(250, 193, 60) 18px 21px,
      rgb(255, 220, 116) 21px 21px, rgb(255, 220, 116) 24px 21px,
      rgb(255, 220, 116) 27px 21px, rgb(250, 193, 60) 30px 21px,
      rgb(0, 0, 0) 33px 21px, rgb(0, 0, 0) 18px 24px,
      rgb(243, 175, 18) 21px 24px, rgb(243, 175, 18) 24px 24px,
      rgb(243, 175, 18) 27px 24px, rgb(0, 0, 0) 30px 24px,
      rgb(0, 0, 0) 21px 27px, rgb(0, 0, 0) 24px 27px, rgb(0, 0, 0) 27px 27px;
  }
  75% {
    box-shadow: rgb(0, 0, 0) 21px 3px, rgb(0, 0, 0) 24px 3px,
      rgb(0, 0, 0) 27px 3px, rgb(0, 0, 0) 18px 6px, rgb(204, 160, 56) 21px 6px,
      rgb(255, 220, 116) 24px 6px, rgb(255, 220, 116) 27px 6px,
      rgb(0, 0, 0) 30px 6px, rgb(0, 0, 0) 18px 9px, rgb(204, 160, 56) 21px 9px,
      rgb(250, 193, 60) 24px 9px, rgb(255, 220, 116) 27px 9px,
      rgb(0, 0, 0) 30px 9px, rgb(0, 0, 0) 18px 12px,
      rgb(204, 160, 56) 21px 12px, rgb(250, 193, 60) 24px 12px,
      rgb(255, 220, 116) 27px 12px, rgb(0, 0, 0) 30px 12px,
      rgb(0, 0, 0) 18px 15px, rgb(204, 160, 56) 21px 15px,
      rgb(250, 193, 60) 24px 15px, rgb(255, 220, 116) 27px 15px,
      rgb(0, 0, 0) 30px 15px, rgb(0, 0, 0) 18px 18px,
      rgb(204, 160, 56) 21px 18px, rgb(250, 193, 60) 24px 18px,
      rgb(255, 220, 116) 27px 18px, rgb(0, 0, 0) 30px 18px,
      rgb(0, 0, 0) 18px 21px, rgb(204, 160, 56) 21px 21px,
      rgb(250, 193, 60) 24px 21px, rgb(255, 220, 116) 27px 21px,
      rgb(0, 0, 0) 30px 21px, rgb(0, 0, 0) 18px 24px,
      rgb(204, 160, 56) 21px 24px, rgb(243, 175, 18) 24px 24px,
      rgb(255, 220, 116) 27px 24px, rgb(0, 0, 0) 30px 24px,
      rgb(0, 0, 0) 21px 27px, rgb(0, 0, 0) 24px 27px, rgb(0, 0, 0) 27px 27px;
  }
  100% {
    box-shadow: rgb(0, 0, 0) 21px 3px, rgb(0, 0, 0) 24px 3px,
      rgb(0, 0, 0) 27px 3px, rgb(0, 0, 0) 18px 6px, rgb(204, 160, 56) 21px 6px,
      rgb(255, 220, 116) 24px 6px, rgb(255, 220, 116) 27px 6px,
      rgb(0, 0, 0) 30px 6px, rgb(0, 0, 0) 15px 9px, rgb(250, 193, 60) 18px 9px,
      rgb(204, 160, 56) 21px 9px, rgb(250, 193, 60) 24px 9px,
      rgb(255, 220, 116) 27px 9px, rgb(255, 220, 116) 30px 9px,
      rgb(0, 0, 0) 33px 9px, rgb(0, 0, 0) 15px 12px,
      rgb(250, 193, 60) 18px 12px, rgb(204, 160, 56) 21px 12px,
      rgb(250, 193, 60) 24px 12px, rgb(255, 220, 116) 27px 12px,
      rgb(255, 220, 116) 30px 12px, rgb(0, 0, 0) 33px 12px,
      rgb(0, 0, 0) 15px 15px, rgb(250, 193, 60) 18px 15px,
      rgb(204, 160, 56) 21px 15px, rgb(250, 193, 60) 24px 15px,
      rgb(255, 220, 116) 27px 15px, rgb(255, 220, 116) 30px 15px,
      rgb(0, 0, 0) 33px 15px, rgb(0, 0, 0) 15px 18px,
      rgb(250, 193, 60) 18px 18px, rgb(204, 160, 56) 21px 18px,
      rgb(250, 193, 60) 24px 18px, rgb(255, 220, 116) 27px 18px,
      rgb(255, 220, 116) 30px 18px, rgb(0, 0, 0) 33px 18px,
      rgb(0, 0, 0) 15px 21px, rgb(250, 193, 60) 18px 21px,
      rgb(204, 160, 56) 21px 21px, rgb(250, 193, 60) 24px 21px,
      rgb(255, 220, 116) 27px 21px, rgb(255, 220, 116) 30px 21px,
      rgb(0, 0, 0) 33px 21px, rgb(0, 0, 0) 18px 24px,
      rgb(204, 160, 56) 21px 24px, rgb(243, 175, 18) 24px 24px,
      rgb(255, 220, 116) 27px 24px, rgb(0, 0, 0) 30px 24px,
      rgb(0, 0, 0) 21px 27px, rgb(0, 0, 0) 24px 27px, rgb(0, 0, 0) 27px 27px;
  }
}