@keyframes walk_right {
  33% {
    box-shadow: rgb(0, 0, 0) 18px 3px, rgb(0, 0, 0) 21px 3px,
      rgb(0, 0, 0) 24px 3px, rgb(0, 0, 0) 27px 3px, rgb(0, 0, 0) 12px 6px,
      rgb(0, 0, 0) 15px 6px, rgb(68, 43, 8) 18px 6px, rgb(68, 43, 8) 21px 6px,
      rgb(68, 43, 8) 24px 6px, rgb(68, 43, 8) 27px 6px, rgb(0, 0, 0) 30px 6px,
      rgb(0, 0, 0) 33px 6px, rgb(0, 0, 0) 12px 9px, rgb(68, 43, 8) 15px 9px,
      rgb(68, 43, 8) 18px 9px, rgb(68, 43, 8) 21px 9px,
      rgb(68, 43, 8) 24px 9px, rgb(68, 43, 8) 27px 9px,
      rgb(68, 43, 8) 30px 9px, rgb(0, 0, 0) 33px 9px, rgb(0, 0, 0) 9px 12px,
      rgb(68, 43, 8) 12px 12px, rgb(68, 43, 8) 15px 12px,
      rgb(68, 43, 8) 18px 12px, rgb(68, 43, 8) 21px 12px,
      rgb(68, 43, 8) 24px 12px, rgb(68, 43, 8) 27px 12px,
      rgb(68, 43, 8) 30px 12px, rgb(68, 43, 8) 33px 12px,
      rgb(0, 0, 0) 36px 12px, rgb(0, 0, 0) 9px 15px, rgb(68, 43, 8) 12px 15px,
      rgb(68, 43, 8) 15px 15px, rgb(68, 43, 8) 18px 15px,
      rgb(68, 43, 8) 21px 15px, rgb(68, 43, 8) 24px 15px,
      rgb(68, 43, 8) 27px 15px, rgb(68, 43, 8) 30px 15px,
      rgb(68, 43, 8) 33px 15px, rgb(0, 0, 0) 36px 15px, rgb(0, 0, 0) 9px 18px,
      rgb(68, 43, 8) 12px 18px, rgb(68, 43, 8) 15px 18px,
      rgb(68, 43, 8) 18px 18px, rgb(201, 157, 94) 21px 18px,
      rgb(201, 157, 94) 24px 18px, rgb(68, 43, 8) 27px 18px,
      rgb(68, 43, 8) 30px 18px, rgb(0, 0, 0) 33px 18px, rgb(0, 0, 0) 9px 21px,
      rgb(68, 43, 8) 12px 21px, rgb(0, 0, 0) 15px 21px,
      rgb(201, 157, 94) 18px 21px, rgb(201, 157, 94) 21px 21px,
      rgb(201, 157, 94) 24px 21px, rgb(0, 0, 0) 27px 21px,
      rgb(201, 157, 94) 30px 21px, rgb(0, 0, 0) 33px 21px,
      rgb(0, 0, 0) 12px 24px, rgb(201, 157, 94) 15px 24px,
      rgb(0, 0, 0) 18px 24px, rgb(201, 157, 94) 21px 24px,
      rgb(201, 157, 94) 24px 24px, rgb(0, 0, 0) 27px 24px,
      rgb(201, 157, 94) 30px 24px, rgb(0, 0, 0) 33px 24px,
      rgb(0, 0, 0) 15px 27px, rgb(201, 157, 94) 18px 27px,
      rgb(201, 157, 94) 21px 27px, rgb(201, 157, 94) 24px 27px,
      rgb(201, 157, 94) 27px 27px, rgb(201, 157, 94) 30px 27px,
      rgb(0, 0, 0) 33px 27px, rgb(0, 0, 0) 15px 30px, rgb(0, 0, 0) 18px 30px,
      rgb(0, 0, 0) 21px 30px, rgb(0, 0, 0) 24px 30px, rgb(0, 0, 0) 27px 30px,
      rgb(0, 0, 0) 30px 30px, rgb(0, 0, 0) 12px 33px,
      rgb(201, 157, 94) 15px 33px, rgb(0, 0, 0) 18px 33px,
      rgb(201, 157, 94) 21px 33px, rgb(201, 157, 94) 24px 33px,
      rgb(201, 157, 94) 27px 33px, rgb(0, 0, 0) 30px 33px,
      rgb(0, 0, 0) 12px 36px, rgb(201, 157, 94) 15px 36px,
      rgb(201, 157, 94) 18px 36px, rgb(0, 0, 0) 21px 36px,
      rgb(201, 157, 94) 24px 36px, rgb(201, 157, 94) 27px 36px,
      rgb(0, 0, 0) 30px 36px, rgb(0, 0, 0) 15px 39px,
      rgb(201, 157, 94) 18px 39px, rgb(201, 157, 94) 21px 39px,
      rgb(0, 0, 0) 24px 39px, rgb(201, 157, 94) 27px 39px,
      rgb(0, 0, 0) 30px 39px, rgb(0, 0, 0) 18px 42px,
      rgb(201, 157, 94) 21px 42px, rgb(0, 0, 0) 24px 42px,
      rgb(201, 157, 94) 27px 42px, rgb(0, 0, 0) 30px 42px,
      rgb(0, 0, 0) 21px 45px, rgb(0, 0, 0) 24px 45px,
      rgb(201, 157, 94) 27px 45px, rgb(0, 0, 0) 30px 45px,
      rgb(0, 0, 0) 12px 48px, rgb(0, 0, 0) 15px 48px, rgb(0, 0, 0) 18px 48px,
      rgb(0, 0, 0) 21px 48px, rgb(0, 0, 0) 24px 48px,
      rgb(201, 157, 94) 27px 48px, rgb(0, 0, 0) 30px 48px,
      rgb(0, 0, 0) 12px 51px, rgb(201, 157, 94) 15px 51px,
      rgb(201, 157, 94) 18px 51px, rgb(0, 0, 0) 21px 51px,
      rgb(0, 0, 0) 24px 51px, rgb(201, 157, 94) 27px 51px,
      rgb(201, 157, 94) 30px 51px, rgb(0, 0, 0) 33px 51px;
  }
  66% {
    box-shadow: rgb(0, 0, 0) 18px 3px, rgb(0, 0, 0) 21px 3px,
      rgb(0, 0, 0) 24px 3px, rgb(0, 0, 0) 27px 3px, rgb(0, 0, 0) 12px 6px,
      rgb(0, 0, 0) 15px 6px, rgb(68, 43, 8) 18px 6px, rgb(68, 43, 8) 21px 6px,
      rgb(68, 43, 8) 24px 6px, rgb(68, 43, 8) 27px 6px, rgb(0, 0, 0) 30px 6px,
      rgb(0, 0, 0) 33px 6px, rgb(0, 0, 0) 12px 9px, rgb(68, 43, 8) 15px 9px,
      rgb(68, 43, 8) 18px 9px, rgb(68, 43, 8) 21px 9px,
      rgb(68, 43, 8) 24px 9px, rgb(68, 43, 8) 27px 9px,
      rgb(68, 43, 8) 30px 9px, rgb(0, 0, 0) 33px 9px, rgb(0, 0, 0) 9px 12px,
      rgb(68, 43, 8) 12px 12px, rgb(68, 43, 8) 15px 12px,
      rgb(68, 43, 8) 18px 12px, rgb(68, 43, 8) 21px 12px,
      rgb(68, 43, 8) 24px 12px, rgb(68, 43, 8) 27px 12px,
      rgb(68, 43, 8) 30px 12px, rgb(68, 43, 8) 33px 12px,
      rgb(0, 0, 0) 36px 12px, rgb(0, 0, 0) 9px 15px, rgb(68, 43, 8) 12px 15px,
      rgb(68, 43, 8) 15px 15px, rgb(68, 43, 8) 18px 15px,
      rgb(68, 43, 8) 21px 15px, rgb(68, 43, 8) 24px 15px,
      rgb(68, 43, 8) 27px 15px, rgb(68, 43, 8) 30px 15px,
      rgb(68, 43, 8) 33px 15px, rgb(0, 0, 0) 36px 15px, rgb(0, 0, 0) 9px 18px,
      rgb(68, 43, 8) 12px 18px, rgb(68, 43, 8) 15px 18px,
      rgb(68, 43, 8) 18px 18px, rgb(201, 157, 94) 21px 18px,
      rgb(201, 157, 94) 24px 18px, rgb(68, 43, 8) 27px 18px,
      rgb(68, 43, 8) 30px 18px, rgb(0, 0, 0) 33px 18px, rgb(0, 0, 0) 9px 21px,
      rgb(68, 43, 8) 12px 21px, rgb(0, 0, 0) 15px 21px,
      rgb(201, 157, 94) 18px 21px, rgb(201, 157, 94) 21px 21px,
      rgb(201, 157, 94) 24px 21px, rgb(0, 0, 0) 27px 21px,
      rgb(201, 157, 94) 30px 21px, rgb(0, 0, 0) 33px 21px,
      rgb(0, 0, 0) 12px 24px, rgb(201, 157, 94) 15px 24px,
      rgb(0, 0, 0) 18px 24px, rgb(201, 157, 94) 21px 24px,
      rgb(201, 157, 94) 24px 24px, rgb(0, 0, 0) 27px 24px,
      rgb(201, 157, 94) 30px 24px, rgb(0, 0, 0) 33px 24px,
      rgb(0, 0, 0) 15px 27px, rgb(201, 157, 94) 18px 27px,
      rgb(201, 157, 94) 21px 27px, rgb(201, 157, 94) 24px 27px,
      rgb(201, 157, 94) 27px 27px, rgb(201, 157, 94) 30px 27px,
      rgb(0, 0, 0) 33px 27px, rgb(0, 0, 0) 15px 30px, rgb(0, 0, 0) 18px 30px,
      rgb(0, 0, 0) 21px 30px, rgb(0, 0, 0) 24px 30px, rgb(0, 0, 0) 27px 30px,
      rgb(0, 0, 0) 30px 30px, rgb(0, 0, 0) 15px 33px,
      rgb(201, 157, 94) 18px 33px, rgb(0, 0, 0) 21px 33px,
      rgb(201, 157, 94) 24px 33px, rgb(0, 0, 0) 27px 33px,
      rgb(0, 0, 0) 12px 36px, rgb(201, 157, 94) 15px 36px,
      rgb(0, 0, 0) 18px 36px, rgb(0, 0, 0) 21px 36px, rgb(0, 0, 0) 24px 36px,
      rgb(0, 0, 0) 27px 36px, rgb(0, 0, 0) 12px 39px,
      rgb(201, 157, 94) 15px 39px, rgb(201, 157, 94) 18px 39px,
      rgb(201, 157, 94) 21px 39px, rgb(201, 157, 94) 24px 39px,
      rgb(0, 0, 0) 27px 39px, rgb(0, 0, 0) 15px 42px, rgb(0, 0, 0) 18px 42px,
      rgb(0, 0, 0) 21px 42px, rgb(0, 0, 0) 24px 42px, rgb(0, 0, 0) 27px 42px,
      rgb(0, 0, 0) 18px 45px, rgb(201, 157, 94) 21px 45px,
      rgb(201, 157, 94) 24px 45px, rgb(0, 0, 0) 27px 45px,
      rgb(0, 0, 0) 18px 48px, rgb(201, 157, 94) 21px 48px,
      rgb(201, 157, 94) 24px 48px, rgb(0, 0, 0) 27px 48px,
      rgb(0, 0, 0) 21px 51px, rgb(0, 0, 0) 24px 51px, rgb(0, 0, 0) 27px 51px;
  }
  100% {
    box-shadow: rgb(0, 0, 0) 18px 3px, rgb(0, 0, 0) 21px 3px,
      rgb(0, 0, 0) 24px 3px, rgb(0, 0, 0) 27px 3px, rgb(0, 0, 0) 12px 6px,
      rgb(0, 0, 0) 15px 6px, rgb(68, 43, 8) 18px 6px, rgb(68, 43, 8) 21px 6px,
      rgb(68, 43, 8) 24px 6px, rgb(68, 43, 8) 27px 6px, rgb(0, 0, 0) 30px 6px,
      rgb(0, 0, 0) 33px 6px, rgb(0, 0, 0) 12px 9px, rgb(68, 43, 8) 15px 9px,
      rgb(68, 43, 8) 18px 9px, rgb(68, 43, 8) 21px 9px,
      rgb(68, 43, 8) 24px 9px, rgb(68, 43, 8) 27px 9px,
      rgb(68, 43, 8) 30px 9px, rgb(0, 0, 0) 33px 9px, rgb(0, 0, 0) 9px 12px,
      rgb(68, 43, 8) 12px 12px, rgb(68, 43, 8) 15px 12px,
      rgb(68, 43, 8) 18px 12px, rgb(68, 43, 8) 21px 12px,
      rgb(68, 43, 8) 24px 12px, rgb(68, 43, 8) 27px 12px,
      rgb(68, 43, 8) 30px 12px, rgb(68, 43, 8) 33px 12px,
      rgb(0, 0, 0) 36px 12px, rgb(0, 0, 0) 9px 15px, rgb(68, 43, 8) 12px 15px,
      rgb(68, 43, 8) 15px 15px, rgb(68, 43, 8) 18px 15px,
      rgb(68, 43, 8) 21px 15px, rgb(68, 43, 8) 24px 15px,
      rgb(68, 43, 8) 27px 15px, rgb(68, 43, 8) 30px 15px,
      rgb(68, 43, 8) 33px 15px, rgb(0, 0, 0) 36px 15px, rgb(0, 0, 0) 9px 18px,
      rgb(68, 43, 8) 12px 18px, rgb(68, 43, 8) 15px 18px,
      rgb(68, 43, 8) 18px 18px, rgb(201, 157, 94) 21px 18px,
      rgb(201, 157, 94) 24px 18px, rgb(68, 43, 8) 27px 18px,
      rgb(68, 43, 8) 30px 18px, rgb(0, 0, 0) 33px 18px, rgb(0, 0, 0) 9px 21px,
      rgb(68, 43, 8) 12px 21px, rgb(0, 0, 0) 15px 21px,
      rgb(201, 157, 94) 18px 21px, rgb(201, 157, 94) 21px 21px,
      rgb(201, 157, 94) 24px 21px, rgb(0, 0, 0) 27px 21px,
      rgb(201, 157, 94) 30px 21px, rgb(0, 0, 0) 33px 21px,
      rgb(0, 0, 0) 12px 24px, rgb(201, 157, 94) 15px 24px,
      rgb(0, 0, 0) 18px 24px, rgb(201, 157, 94) 21px 24px,
      rgb(201, 157, 94) 24px 24px, rgb(0, 0, 0) 27px 24px,
      rgb(201, 157, 94) 30px 24px, rgb(0, 0, 0) 33px 24px,
      rgb(0, 0, 0) 15px 27px, rgb(201, 157, 94) 18px 27px,
      rgb(201, 157, 94) 21px 27px, rgb(201, 157, 94) 24px 27px,
      rgb(201, 157, 94) 27px 27px, rgb(201, 157, 94) 30px 27px,
      rgb(0, 0, 0) 33px 27px, rgb(0, 0, 0) 15px 30px, rgb(0, 0, 0) 18px 30px,
      rgb(0, 0, 0) 21px 30px, rgb(0, 0, 0) 24px 30px, rgb(0, 0, 0) 27px 30px,
      rgb(0, 0, 0) 30px 30px, rgb(0, 0, 0) 12px 33px,
      rgb(201, 157, 94) 15px 33px, rgb(0, 0, 0) 18px 33px,
      rgb(201, 157, 94) 21px 33px, rgb(201, 157, 94) 24px 33px,
      rgb(201, 157, 94) 27px 33px, rgb(0, 0, 0) 30px 33px,
      rgb(0, 0, 0) 9px 36px, rgb(201, 157, 94) 12px 36px,
      rgb(0, 0, 0) 15px 36px, rgb(201, 157, 94) 18px 36px,
      rgb(201, 157, 94) 21px 36px, rgb(201, 157, 94) 24px 36px,
      rgb(201, 157, 94) 27px 36px, rgb(0, 0, 0) 30px 36px,
      rgb(0, 0, 0) 33px 36px, rgb(0, 0, 0) 9px 39px,
      rgb(201, 157, 94) 12px 39px, rgb(0, 0, 0) 15px 39px,
      rgb(201, 157, 94) 18px 39px, rgb(201, 157, 94) 21px 39px,
      rgb(201, 157, 94) 24px 39px, rgb(201, 157, 94) 27px 39px,
      rgb(0, 0, 0) 30px 39px, rgb(201, 157, 94) 33px 39px,
      rgb(0, 0, 0) 36px 39px, rgb(0, 0, 0) 9px 42px,
      rgb(201, 157, 94) 12px 42px, rgb(0, 0, 0) 15px 42px,
      rgb(201, 157, 94) 18px 42px, rgb(201, 157, 94) 21px 42px,
      rgb(201, 157, 94) 24px 42px, rgb(201, 157, 94) 27px 42px,
      rgb(0, 0, 0) 30px 42px, rgb(0, 0, 0) 33px 42px, rgb(0, 0, 0) 12px 45px,
      rgb(0, 0, 0) 15px 45px, rgb(201, 157, 94) 18px 45px,
      rgb(201, 157, 94) 21px 45px, rgb(201, 157, 94) 24px 45px,
      rgb(201, 157, 94) 27px 45px, rgb(0, 0, 0) 30px 45px,
      rgb(0, 0, 0) 12px 48px, rgb(201, 157, 94) 15px 48px,
      rgb(201, 157, 94) 18px 48px, rgb(0, 0, 0) 21px 48px,
      rgb(201, 157, 94) 24px 48px, rgb(201, 157, 94) 27px 48px,
      rgb(0, 0, 0) 30px 48px, rgb(0, 0, 0) 12px 51px,
      rgb(201, 157, 94) 15px 51px, rgb(201, 157, 94) 18px 51px,
      rgb(0, 0, 0) 21px 51px, rgb(0, 0, 0) 24px 51px,
      rgb(201, 157, 94) 27px 51px, rgb(201, 157, 94) 30px 51px,
      rgb(0, 0, 0) 33px 51px;
  }
}