.floor {
  box-shadow: rgb(88, 154, 60) 3px 30px, rgb(79, 142, 51) 6px 30px,
    rgb(79, 142, 51) 21px 30px, rgb(88, 154, 60) 30px 30px,
    rgb(88, 154, 60) 33px 30px, rgb(79, 142, 51) 45px 30px,
    rgb(79, 142, 51) 0px 33px, rgb(88, 154, 60) 3px 33px,
    rgb(88, 154, 60) 6px 33px, rgb(79, 142, 51) 9px 33px,
    rgb(88, 154, 60) 12px 33px, rgb(88, 154, 60) 15px 33px,
    rgb(88, 154, 60) 18px 33px, rgb(88, 154, 60) 21px 33px,
    rgb(88, 154, 60) 24px 33px, rgb(88, 154, 60) 27px 33px,
    rgb(88, 154, 60) 30px 33px, rgb(88, 154, 60) 33px 33px,
    rgb(88, 154, 60) 36px 33px, rgb(88, 154, 60) 39px 33px,
    rgb(79, 142, 51) 42px 33px, rgb(79, 142, 51) 45px 33px,
    rgb(79, 142, 51) 48px 33px, rgb(154, 98, 60) 0px 36px,
    rgb(88, 154, 60) 3px 36px, rgb(120, 74, 43) 6px 36px,
    rgb(79, 142, 51) 9px 36px, rgb(154, 98, 60) 12px 36px,
    rgb(79, 142, 51) 15px 36px, rgb(120, 74, 43) 18px 36px,
    rgb(120, 74, 43) 21px 36px, rgb(120, 74, 43) 24px 36px,
    rgb(120, 74, 43) 27px 36px, rgb(120, 74, 43) 30px 36px,
    rgb(88, 154, 60) 33px 36px, rgb(154, 98, 60) 36px 36px,
    rgb(120, 74, 43) 39px 36px, rgb(154, 98, 60) 42px 36px,
    rgb(120, 74, 43) 45px 36px, rgb(79, 142, 51) 48px 36px,
    rgb(120, 74, 43) 0px 39px, rgb(154, 98, 60) 3px 39px,
    rgb(144, 90, 55) 6px 39px, rgb(120, 74, 43) 9px 39px,
    rgb(120, 74, 43) 12px 39px, rgb(120, 74, 43) 15px 39px,
    rgb(154, 98, 60) 18px 39px, rgb(120, 74, 43) 21px 39px,
    rgb(154, 98, 60) 24px 39px, rgb(144, 90, 55) 27px 39px,
    rgb(88, 154, 60) 30px 39px, rgb(154, 98, 60) 33px 39px,
    rgb(154, 98, 60) 36px 39px, rgb(120, 74, 43) 39px 39px,
    rgb(154, 98, 60) 42px 39px, rgb(154, 98, 60) 45px 39px,
    rgb(120, 74, 43) 48px 39px, rgb(120, 74, 43) 0px 42px,
    rgb(120, 74, 43) 3px 42px, rgb(120, 74, 43) 6px 42px,
    rgb(120, 74, 43) 9px 42px, rgb(120, 74, 43) 12px 42px,
    rgb(120, 74, 43) 15px 42px, rgb(120, 74, 43) 18px 42px,
    rgb(120, 74, 43) 21px 42px, rgb(120, 74, 43) 24px 42px,
    rgb(120, 74, 43) 27px 42px, rgb(120, 74, 43) 30px 42px,
    rgb(120, 74, 43) 33px 42px, rgb(120, 74, 43) 36px 42px,
    rgb(120, 74, 43) 39px 42px, rgb(120, 74, 43) 42px 42px,
    rgb(120, 74, 43) 45px 42px, rgb(144, 90, 55) 48px 42px,
    rgb(120, 74, 43) 0px 45px, rgb(120, 74, 43) 3px 45px,
    rgb(120, 74, 43) 6px 45px, rgb(120, 74, 43) 9px 45px,
    rgb(120, 74, 43) 12px 45px, rgb(120, 74, 43) 15px 45px,
    rgb(120, 74, 43) 18px 45px, rgb(120, 74, 43) 21px 45px,
    rgb(120, 74, 43) 24px 45px, rgb(120, 74, 43) 27px 45px,
    rgb(120, 74, 43) 30px 45px, rgb(120, 74, 43) 33px 45px,
    rgb(120, 74, 43) 36px 45px, rgb(120, 74, 43) 39px 45px,
    rgb(120, 74, 43) 42px 45px, rgb(120, 74, 43) 45px 45px,
    rgb(120, 74, 43) 48px 45px, rgb(120, 74, 43) 0px 48px,
    rgb(120, 74, 43) 3px 48px, rgb(120, 74, 43) 6px 48px,
    rgb(120, 74, 43) 9px 48px, rgb(120, 74, 43) 12px 48px,
    rgb(120, 74, 43) 15px 48px, rgb(120, 74, 43) 18px 48px,
    rgb(120, 74, 43) 21px 48px, rgb(120, 74, 43) 24px 48px,
    rgb(120, 74, 43) 27px 48px, rgb(120, 74, 43) 30px 48px,
    rgb(120, 74, 43) 33px 48px, rgb(120, 74, 43) 36px 48px,
    rgb(120, 74, 43) 39px 48px, rgb(120, 74, 43) 42px 48px,
    rgb(120, 74, 43) 45px 48px, rgb(120, 74, 43) 48px 48px,
    rgb(120, 74, 43) 0px 51px, rgb(120, 74, 43) 3px 51px,
    rgb(120, 74, 43) 6px 51px, rgb(120, 74, 43) 9px 51px,
    rgb(120, 74, 43) 12px 51px, rgb(120, 74, 43) 15px 51px,
    rgb(120, 74, 43) 18px 51px, rgb(120, 74, 43) 21px 51px,
    rgb(120, 74, 43) 24px 51px, rgb(120, 74, 43) 27px 51px,
    rgb(120, 74, 43) 30px 51px, rgb(120, 74, 43) 33px 51px,
    rgb(120, 74, 43) 36px 51px, rgb(120, 74, 43) 39px 51px,
    rgb(120, 74, 43) 42px 51px, rgb(120, 74, 43) 45px 51px,
    rgb(120, 74, 43) 48px 51px;
    /*
      width: 103px;
      height: 45px;
    */
}

.grass-one {
  box-shadow: rgb(49, 83, 34) 24px 36px, rgb(49, 83, 34) 30px 36px,
    rgb(49, 83, 34) 21px 39px, rgb(169, 221, 146) 24px 39px,
    rgb(49, 83, 34) 27px 39px, rgb(122, 196, 90) 30px 39px,
    rgb(49, 83, 34) 33px 39px, rgb(49, 83, 34) 18px 42px,
    rgb(79, 142, 51) 21px 42px, rgb(122, 196, 90) 24px 42px,
    rgb(122, 196, 90) 27px 42px, rgb(122, 196, 90) 30px 42px,
    rgb(49, 83, 34) 33px 42px, rgb(49, 83, 34) 15px 45px,
    rgb(79, 142, 51) 18px 45px, rgb(122, 196, 90) 21px 45px,
    rgb(122, 196, 90) 24px 45px, rgb(122, 196, 90) 27px 45px,
    rgb(169, 221, 146) 30px 45px, rgb(49, 83, 34) 33px 45px,
    rgb(49, 83, 34) 15px 48px, rgb(79, 142, 51) 18px 48px,
    rgb(79, 142, 51) 21px 48px, rgb(169, 221, 146) 24px 48px,
    rgb(122, 196, 90) 27px 48px, rgb(79, 142, 51) 30px 48px,
    rgb(49, 83, 34) 33px 48px, rgb(49, 83, 34) 15px 51px,
    rgb(49, 83, 34) 18px 51px, rgb(79, 142, 51) 21px 51px,
    rgb(79, 142, 51) 24px 51px, rgb(49, 83, 34) 27px 51px,
    rgb(49, 83, 34) 30px 51px, rgb(49, 83, 34) 33px 51px;
    /*
      width: 42px;
      height: 30px;
    */
}

.grass-two {
  box-shadow: rgb(49, 83, 34) 27px 30px, rgb(49, 83, 34) 30px 30px,
    rgb(49, 83, 34) 12px 33px, rgb(49, 83, 34) 15px 33px,
    rgb(49, 83, 34) 24px 33px, rgb(122, 196, 90) 27px 33px,
    rgb(122, 196, 90) 30px 33px, rgb(49, 83, 34) 33px 33px,
    rgb(49, 83, 34) 9px 36px, rgb(79, 142, 51) 12px 36px,
    rgb(79, 142, 51) 15px 36px, rgb(49, 83, 34) 18px 36px,
    rgb(49, 83, 34) 24px 36px, rgb(122, 196, 90) 27px 36px,
    rgb(122, 196, 90) 30px 36px, rgb(122, 196, 90) 33px 36px,
    rgb(49, 83, 34) 36px 36px, rgb(49, 83, 34) 9px 39px,
    rgb(79, 142, 51) 12px 39px, rgb(79, 142, 51) 15px 39px,
    rgb(49, 83, 34) 18px 39px, rgb(49, 83, 34) 24px 39px,
    rgb(122, 196, 90) 27px 39px, rgb(122, 196, 90) 30px 39px,
    rgb(122, 196, 90) 33px 39px, rgb(49, 83, 34) 36px 39px,
    rgb(49, 83, 34) 12px 42px, rgb(79, 142, 51) 15px 42px,
    rgb(79, 142, 51) 18px 42px, rgb(49, 83, 34) 21px 42px,
    rgb(122, 196, 90) 24px 42px, rgb(122, 196, 90) 27px 42px,
    rgb(169, 221, 146) 30px 42px, rgb(169, 221, 146) 33px 42px,
    rgb(49, 83, 34) 36px 42px, rgb(49, 83, 34) 12px 45px,
    rgb(79, 142, 51) 15px 45px, rgb(79, 142, 51) 18px 45px,
    rgb(79, 142, 51) 21px 45px, rgb(88, 154, 60) 24px 45px,
    rgb(122, 196, 90) 27px 45px, rgb(169, 221, 146) 30px 45px,
    rgb(49, 83, 34) 33px 45px, rgb(49, 83, 34) 15px 48px,
    rgb(79, 142, 51) 18px 48px, rgb(79, 142, 51) 21px 48px,
    rgb(169, 221, 146) 24px 48px, rgb(88, 154, 60) 27px 48px,
    rgb(49, 83, 34) 30px 48px, rgb(49, 83, 34) 18px 51px,
    rgb(49, 83, 34) 21px 51px, rgb(49, 83, 34) 24px 51px,
    rgb(49, 83, 34) 27px 51px, rgb(49, 83, 34) 30px 51px;
     /*
      width: 30px;
      height: 40px;
    */
}

.grass-three {
  box-shadow: rgb(49, 83, 34) 21px 42px, rgb(49, 83, 34) 24px 42px,
    rgb(49, 83, 34) 18px 45px, rgb(79, 142, 51) 21px 45px,
    rgb(169, 221, 146) 24px 45px, rgb(49, 83, 34) 27px 45px,
    rgb(49, 83, 34) 15px 48px, rgb(79, 142, 51) 18px 48px,
    rgb(88, 154, 60) 21px 48px, rgb(122, 196, 90) 24px 48px,
    rgb(169, 221, 146) 27px 48px, rgb(49, 83, 34) 30px 48px,
    rgb(49, 83, 34) 18px 51px, rgb(49, 83, 34) 21px 51px,
    rgb(49, 83, 34) 24px 51px, rgb(49, 83, 34) 27px 51px;
    /*
      width: 40px;
      height: 25px;
    */
}

.tree-one {
  box-shadow: rgb(49, 83, 34) 18px 21px, rgb(79, 142, 51) 21px 21px,
    rgb(49, 83, 34) 24px 21px, rgb(49, 83, 34) 27px 21px,
    rgb(49, 83, 34) 15px 24px, rgb(79, 142, 51) 18px 24px,
    rgb(88, 154, 60) 21px 24px, rgb(122, 196, 90) 24px 24px,
    rgb(169, 221, 146) 27px 24px, rgb(49, 83, 34) 30px 24px,
    rgb(49, 83, 34) 12px 27px, rgb(79, 142, 51) 15px 27px,
    rgb(79, 142, 51) 18px 27px, rgb(79, 142, 51) 21px 27px,
    rgb(122, 196, 90) 24px 27px, rgb(122, 196, 90) 27px 27px,
    rgb(169, 221, 146) 30px 27px, rgb(49, 83, 34) 33px 27px,
    rgb(49, 83, 34) 9px 30px, rgb(79, 142, 51) 12px 30px,
    rgb(79, 142, 51) 15px 30px, rgb(79, 142, 51) 18px 30px,
    rgb(122, 196, 90) 21px 30px, rgb(122, 196, 90) 24px 30px,
    rgb(122, 196, 90) 27px 30px, rgb(169, 221, 146) 30px 30px,
    rgb(49, 83, 34) 33px 30px, rgb(49, 83, 34) 9px 33px,
    rgb(79, 142, 51) 12px 33px, rgb(79, 142, 51) 15px 33px,
    rgb(122, 196, 90) 18px 33px, rgb(122, 196, 90) 21px 33px,
    rgb(122, 196, 90) 24px 33px, rgb(122, 196, 90) 27px 33px,
    rgb(169, 221, 146) 30px 33px, rgb(49, 83, 34) 33px 33px,
    rgb(49, 83, 34) 9px 36px, rgb(79, 142, 51) 12px 36px,
    rgb(79, 142, 51) 15px 36px, rgb(122, 196, 90) 18px 36px,
    rgb(122, 196, 90) 21px 36px, rgb(122, 196, 90) 24px 36px,
    rgb(122, 196, 90) 27px 36px, rgb(122, 196, 90) 30px 36px,
    rgb(49, 83, 34) 33px 36px, rgb(49, 83, 34) 12px 39px,
    rgb(79, 142, 51) 15px 39px, rgb(79, 142, 51) 18px 39px,
    rgb(154, 98, 60) 21px 39px, rgb(122, 196, 90) 24px 39px,
    rgb(169, 221, 146) 27px 39px, rgb(49, 83, 34) 30px 39px,
    rgb(49, 83, 34) 15px 42px, rgb(79, 142, 51) 18px 42px,
    rgb(154, 98, 60) 21px 42px, rgb(154, 98, 60) 24px 42px,
    rgb(49, 83, 34) 27px 42px, rgb(154, 98, 60) 18px 45px,
    rgb(154, 98, 60) 21px 45px, rgb(154, 98, 60) 24px 45px,
    rgb(120, 74, 43) 27px 45px, rgb(120, 74, 43) 18px 48px,
    rgb(144, 90, 55) 21px 48px, rgb(144, 90, 55) 24px 48px,
    rgb(120, 74, 43) 27px 48px, rgb(120, 74, 43) 15px 51px,
    rgb(154, 98, 60) 18px 51px, rgb(144, 90, 55) 21px 51px,
    rgb(144, 90, 55) 24px 51px, rgb(120, 74, 43) 27px 51px;
    /*
      width: 25px;
      height: 70px;
    */
}

.tree-two {
  box-shadow: rgb(49, 83, 34) 15px 3px, rgb(49, 83, 34) 18px 3px,
    rgb(49, 83, 34) 21px 3px, rgb(49, 83, 34) 24px 3px,
    rgb(49, 83, 34) 27px 3px, rgb(49, 83, 34) 30px 3px,
    rgb(49, 83, 34) 12px 6px, rgb(49, 83, 34) 15px 6px,
    rgb(88, 154, 60) 18px 6px, rgb(88, 154, 60) 21px 6px,
    rgb(122, 196, 90) 24px 6px, rgb(169, 221, 146) 27px 6px,
    rgb(49, 83, 34) 30px 6px, rgb(49, 83, 34) 33px 6px,
    rgb(49, 83, 34) 9px 9px, rgb(49, 83, 34) 12px 9px,
    rgb(88, 154, 60) 15px 9px, rgb(79, 142, 51) 18px 9px,
    rgb(79, 142, 51) 21px 9px, rgb(122, 196, 90) 24px 9px,
    rgb(122, 196, 90) 27px 9px, rgb(169, 221, 146) 30px 9px,
    rgb(49, 83, 34) 33px 9px, rgb(49, 83, 34) 9px 12px,
    rgb(88, 154, 60) 12px 12px, rgb(79, 142, 51) 15px 12px,
    rgb(79, 142, 51) 18px 12px, rgb(79, 142, 51) 21px 12px,
    rgb(122, 196, 90) 24px 12px, rgb(122, 196, 90) 27px 12px,
    rgb(169, 221, 146) 30px 12px, rgb(49, 83, 34) 33px 12px,
    rgb(49, 83, 34) 9px 15px, rgb(79, 142, 51) 12px 15px,
    rgb(79, 142, 51) 15px 15px, rgb(79, 142, 51) 18px 15px,
    rgb(169, 221, 146) 21px 15px, rgb(122, 196, 90) 24px 15px,
    rgb(122, 196, 90) 27px 15px, rgb(169, 221, 146) 30px 15px,
    rgb(49, 83, 34) 33px 15px, rgb(49, 83, 34) 9px 18px,
    rgb(79, 142, 51) 12px 18px, rgb(79, 142, 51) 15px 18px,
    rgb(79, 142, 51) 18px 18px, rgb(122, 196, 90) 21px 18px,
    rgb(169, 221, 146) 24px 18px, rgb(122, 196, 90) 27px 18px,
    rgb(169, 221, 146) 30px 18px, rgb(49, 83, 34) 33px 18px,
    rgb(49, 83, 34) 9px 21px, rgb(79, 142, 51) 12px 21px,
    rgb(79, 142, 51) 15px 21px, rgb(79, 142, 51) 18px 21px,
    rgb(122, 196, 90) 21px 21px, rgb(122, 196, 90) 24px 21px,
    rgb(122, 196, 90) 27px 21px, rgb(169, 221, 146) 30px 21px,
    rgb(49, 83, 34) 33px 21px, rgb(49, 83, 34) 9px 24px,
    rgb(79, 142, 51) 12px 24px, rgb(79, 142, 51) 15px 24px,
    rgb(79, 142, 51) 18px 24px, rgb(79, 142, 51) 21px 24px,
    rgb(122, 196, 90) 24px 24px, rgb(122, 196, 90) 27px 24px,
    rgb(169, 221, 146) 30px 24px, rgb(49, 83, 34) 33px 24px,
    rgb(49, 83, 34) 9px 27px, rgb(79, 142, 51) 12px 27px,
    rgb(79, 142, 51) 15px 27px, rgb(79, 142, 51) 18px 27px,
    rgb(79, 142, 51) 21px 27px, rgb(122, 196, 90) 24px 27px,
    rgb(122, 196, 90) 27px 27px, rgb(169, 221, 146) 30px 27px,
    rgb(49, 83, 34) 33px 27px, rgb(49, 83, 34) 9px 30px,
    rgb(79, 142, 51) 12px 30px, rgb(79, 142, 51) 15px 30px,
    rgb(79, 142, 51) 18px 30px, rgb(122, 196, 90) 21px 30px,
    rgb(122, 196, 90) 24px 30px, rgb(122, 196, 90) 27px 30px,
    rgb(169, 221, 146) 30px 30px, rgb(49, 83, 34) 33px 30px,
    rgb(49, 83, 34) 9px 33px, rgb(79, 142, 51) 12px 33px,
    rgb(79, 142, 51) 15px 33px, rgb(122, 196, 90) 18px 33px,
    rgb(154, 98, 60) 21px 33px, rgb(122, 196, 90) 24px 33px,
    rgb(122, 196, 90) 27px 33px, rgb(169, 221, 146) 30px 33px,
    rgb(49, 83, 34) 33px 33px, rgb(49, 83, 34) 9px 36px,
    rgb(88, 154, 60) 12px 36px, rgb(88, 154, 60) 15px 36px,
    rgb(122, 196, 90) 18px 36px, rgb(144, 90, 55) 21px 36px,
    rgb(154, 98, 60) 24px 36px, rgb(122, 196, 90) 27px 36px,
    rgb(169, 221, 146) 30px 36px, rgb(49, 83, 34) 33px 36px,
    rgb(49, 83, 34) 12px 39px, rgb(88, 154, 60) 15px 39px,
    rgb(79, 142, 51) 18px 39px, rgb(144, 90, 55) 21px 39px,
    rgb(154, 98, 60) 24px 39px, rgb(169, 221, 146) 27px 39px,
    rgb(49, 83, 34) 30px 39px, rgb(49, 83, 34) 15px 42px,
    rgb(144, 90, 55) 18px 42px, rgb(144, 90, 55) 21px 42px,
    rgb(154, 98, 60) 24px 42px, rgb(49, 83, 34) 27px 42px,
    rgb(120, 74, 43) 18px 45px, rgb(144, 90, 55) 21px 45px,
    rgb(144, 90, 55) 24px 45px, rgb(120, 74, 43) 27px 45px,
    rgb(120, 74, 43) 18px 48px, rgb(144, 90, 55) 21px 48px,
    rgb(144, 90, 55) 24px 48px, rgb(120, 74, 43) 27px 48px,
    rgb(120, 74, 43) 15px 51px, rgb(154, 98, 60) 18px 51px,
    rgb(144, 90, 55) 21px 51px, rgb(144, 90, 55) 24px 51px,
    rgb(120, 74, 43) 27px 51px;
    /*
      width: 25px;
      height: 100px;
    */
}

.cloud-one {
  box-shadow: rgb(163, 224, 255) 21px 21px, rgb(163, 224, 255) 24px 21px,
    rgb(163, 224, 255) 27px 21px, rgb(163, 224, 255) 18px 24px,
    rgb(180, 229, 254) 21px 24px, rgb(180, 229, 254) 24px 24px,
    rgb(180, 229, 254) 27px 24px, rgb(163, 224, 255) 30px 24px,
    rgb(163, 224, 255) 15px 27px, rgb(215, 241, 254) 18px 27px,
    rgb(215, 241, 254) 21px 27px, rgb(215, 241, 254) 24px 27px,
    rgb(215, 241, 254) 27px 27px, rgb(180, 229, 254) 30px 27px,
    rgb(163, 224, 255) 33px 27px, rgb(163, 224, 255) 12px 30px,
    rgb(215, 241, 254) 15px 30px, rgb(215, 241, 254) 18px 30px,
    rgb(215, 241, 254) 21px 30px, rgb(215, 241, 254) 24px 30px,
    rgb(215, 241, 254) 27px 30px, rgb(215, 241, 254) 30px 30px,
    rgb(180, 229, 254) 33px 30px, rgb(163, 224, 255) 36px 30px,
    rgb(163, 224, 255) 6px 33px, rgb(163, 224, 255) 9px 33px,
    rgb(163, 224, 255) 12px 33px, rgb(215, 241, 254) 15px 33px,
    rgb(215, 241, 254) 18px 33px, rgb(215, 241, 254) 21px 33px,
    rgb(215, 241, 254) 24px 33px, rgb(215, 241, 254) 27px 33px,
    rgb(215, 241, 254) 30px 33px, rgb(180, 229, 254) 33px 33px,
    rgb(163, 224, 255) 36px 33px, rgb(163, 224, 255) 39px 33px,
    rgb(163, 224, 255) 42px 33px, rgb(163, 224, 255) 3px 36px,
    rgb(138, 216, 255) 6px 36px, rgb(180, 229, 254) 9px 36px,
    rgb(180, 229, 254) 12px 36px, rgb(138, 216, 255) 15px 36px,
    rgb(215, 241, 254) 18px 36px, rgb(215, 241, 254) 21px 36px,
    rgb(215, 241, 254) 24px 36px, rgb(215, 241, 254) 27px 36px,
    rgb(215, 241, 254) 30px 36px, rgb(138, 216, 255) 33px 36px,
    rgb(180, 229, 254) 36px 36px, rgb(180, 229, 254) 39px 36px,
    rgb(180, 229, 254) 42px 36px, rgb(163, 224, 255) 45px 36px,
    rgb(163, 224, 255) 3px 39px, rgb(138, 216, 255) 6px 39px,
    rgb(215, 241, 254) 9px 39px, rgb(215, 241, 254) 12px 39px,
    rgb(215, 241, 254) 15px 39px, rgb(138, 216, 255) 18px 39px,
    rgb(138, 216, 255) 21px 39px, rgb(215, 241, 254) 24px 39px,
    rgb(138, 216, 255) 27px 39px, rgb(138, 216, 255) 30px 39px,
    rgb(215, 241, 254) 33px 39px, rgb(215, 241, 254) 36px 39px,
    rgb(215, 241, 254) 39px 39px, rgb(180, 229, 254) 42px 39px,
    rgb(163, 224, 255) 45px 39px, rgb(163, 224, 255) 0px 42px,
    rgb(138, 216, 255) 3px 42px, rgb(215, 241, 254) 6px 42px,
    rgb(215, 241, 254) 9px 42px, rgb(215, 241, 254) 12px 42px,
    rgb(215, 241, 254) 15px 42px, rgb(215, 241, 254) 18px 42px,
    rgb(215, 241, 254) 21px 42px, rgb(138, 216, 255) 24px 42px,
    rgb(215, 241, 254) 27px 42px, rgb(215, 241, 254) 30px 42px,
    rgb(215, 241, 254) 33px 42px, rgb(215, 241, 254) 36px 42px,
    rgb(215, 241, 254) 39px 42px, rgb(215, 241, 254) 42px 42px,
    rgb(180, 229, 254) 45px 42px, rgb(163, 224, 255) 48px 42px,
    rgb(163, 224, 255) 0px 45px, rgb(138, 216, 255) 3px 45px,
    rgb(215, 241, 254) 6px 45px, rgb(215, 241, 254) 9px 45px,
    rgb(215, 241, 254) 12px 45px, rgb(215, 241, 254) 15px 45px,
    rgb(215, 241, 254) 18px 45px, rgb(138, 216, 255) 21px 45px,
    rgb(138, 216, 255) 24px 45px, rgb(138, 216, 255) 27px 45px,
    rgb(215, 241, 254) 30px 45px, rgb(215, 241, 254) 33px 45px,
    rgb(215, 241, 254) 36px 45px, rgb(215, 241, 254) 39px 45px,
    rgb(180, 229, 254) 42px 45px, rgb(138, 216, 255) 45px 45px,
    rgb(163, 224, 255) 48px 45px, rgb(163, 224, 255) 0px 48px,
    rgb(138, 216, 255) 3px 48px, rgb(138, 216, 255) 6px 48px,
    rgb(138, 216, 255) 9px 48px, rgb(138, 216, 255) 12px 48px,
    rgb(138, 216, 255) 15px 48px, rgb(138, 216, 255) 18px 48px,
    rgb(138, 216, 255) 21px 48px, rgb(138, 216, 255) 24px 48px,
    rgb(138, 216, 255) 27px 48px, rgb(138, 216, 255) 30px 48px,
    rgb(138, 216, 255) 33px 48px, rgb(138, 216, 255) 36px 48px,
    rgb(138, 216, 255) 39px 48px, rgb(138, 216, 255) 42px 48px,
    rgb(163, 224, 255) 45px 48px, rgb(163, 224, 255) 48px 48px,
    rgb(163, 224, 255) 3px 51px, rgb(163, 224, 255) 6px 51px,
    rgb(163, 224, 255) 9px 51px, rgb(163, 224, 255) 12px 51px,
    rgb(163, 224, 255) 15px 51px, rgb(163, 224, 255) 18px 51px,
    rgb(163, 224, 255) 21px 51px, rgb(163, 224, 255) 24px 51px,
    rgb(163, 224, 255) 27px 51px, rgb(163, 224, 255) 30px 51px,
    rgb(163, 224, 255) 33px 51px, rgb(163, 224, 255) 36px 51px,
    rgb(163, 224, 255) 39px 51px, rgb(163, 224, 255) 42px 51px,
    rgb(163, 224, 255) 45px 51px;
    /*
      width: 90px;
      height: 65px;
    */
}

.cloud-two {
  box-shadow: rgb(163, 224, 255) 6px 33px, rgb(180, 229, 254) 9px 33px,
    rgb(163, 224, 255) 12px 33px, rgb(163, 224, 255) 15px 33px,
    rgb(163, 224, 255) 18px 33px, rgb(163, 224, 255) 21px 33px,
    rgb(180, 229, 254) 24px 33px, rgb(180, 229, 254) 27px 33px,
    rgb(163, 224, 255) 30px 33px, rgb(163, 224, 255) 33px 33px,
    rgb(163, 224, 255) 36px 33px, rgb(215, 241, 254) 39px 33px,
    rgb(163, 224, 255) 42px 33px, rgb(163, 224, 255) 3px 36px,
    rgb(138, 216, 255) 6px 36px, rgb(180, 229, 254) 9px 36px,
    rgb(180, 229, 254) 12px 36px, rgb(138, 216, 255) 15px 36px,
    rgb(215, 241, 254) 18px 36px, rgb(215, 241, 254) 21px 36px,
    rgb(180, 229, 254) 24px 36px, rgb(215, 241, 254) 27px 36px,
    rgb(215, 241, 254) 30px 36px, rgb(138, 216, 255) 33px 36px,
    rgb(180, 229, 254) 36px 36px, rgb(180, 229, 254) 39px 36px,
    rgb(180, 229, 254) 42px 36px, rgb(163, 224, 255) 45px 36px,
    rgb(163, 224, 255) 3px 39px, rgb(138, 216, 255) 6px 39px,
    rgb(215, 241, 254) 9px 39px, rgb(215, 241, 254) 12px 39px,
    rgb(215, 241, 254) 15px 39px, rgb(138, 216, 255) 18px 39px,
    rgb(180, 229, 254) 21px 39px, rgb(215, 241, 254) 24px 39px,
    rgb(180, 229, 254) 27px 39px, rgb(138, 216, 255) 30px 39px,
    rgb(215, 241, 254) 33px 39px, rgb(215, 241, 254) 36px 39px,
    rgb(215, 241, 254) 39px 39px, rgb(180, 229, 254) 42px 39px,
    rgb(163, 224, 255) 45px 39px, rgb(163, 224, 255) 0px 42px,
    rgb(138, 216, 255) 3px 42px, rgb(215, 241, 254) 6px 42px,
    rgb(215, 241, 254) 9px 42px, rgb(215, 241, 254) 12px 42px,
    rgb(215, 241, 254) 15px 42px, rgb(215, 241, 254) 18px 42px,
    rgb(215, 241, 254) 21px 42px, rgb(138, 216, 255) 24px 42px,
    rgb(215, 241, 254) 27px 42px, rgb(215, 241, 254) 30px 42px,
    rgb(215, 241, 254) 33px 42px, rgb(215, 241, 254) 36px 42px,
    rgb(215, 241, 254) 39px 42px, rgb(215, 241, 254) 42px 42px,
    rgb(215, 241, 254) 45px 42px, rgb(163, 224, 255) 48px 42px,
    rgb(163, 224, 255) 0px 45px, rgb(138, 216, 255) 3px 45px,
    rgb(215, 241, 254) 6px 45px, rgb(215, 241, 254) 9px 45px,
    rgb(215, 241, 254) 12px 45px, rgb(215, 241, 254) 15px 45px,
    rgb(215, 241, 254) 18px 45px, rgb(138, 216, 255) 21px 45px,
    rgb(138, 216, 255) 24px 45px, rgb(138, 216, 255) 27px 45px,
    rgb(215, 241, 254) 30px 45px, rgb(215, 241, 254) 33px 45px,
    rgb(215, 241, 254) 36px 45px, rgb(215, 241, 254) 39px 45px,
    rgb(215, 241, 254) 42px 45px, rgb(215, 241, 254) 45px 45px,
    rgb(163, 224, 255) 48px 45px, rgb(163, 224, 255) 0px 48px,
    rgb(138, 216, 255) 3px 48px, rgb(138, 216, 255) 6px 48px,
    rgb(138, 216, 255) 9px 48px, rgb(138, 216, 255) 12px 48px,
    rgb(138, 216, 255) 15px 48px, rgb(138, 216, 255) 18px 48px,
    rgb(138, 216, 255) 21px 48px, rgb(138, 216, 255) 24px 48px,
    rgb(138, 216, 255) 27px 48px, rgb(138, 216, 255) 30px 48px,
    rgb(138, 216, 255) 33px 48px, rgb(138, 216, 255) 36px 48px,
    rgb(138, 216, 255) 39px 48px, rgb(138, 216, 255) 42px 48px,
    rgb(163, 224, 255) 45px 48px, rgb(163, 224, 255) 48px 48px,
    rgb(163, 224, 255) 3px 51px, rgb(163, 224, 255) 6px 51px,
    rgb(163, 224, 255) 9px 51px, rgb(163, 224, 255) 12px 51px,
    rgb(163, 224, 255) 15px 51px, rgb(163, 224, 255) 18px 51px,
    rgb(163, 224, 255) 21px 51px, rgb(163, 224, 255) 24px 51px,
    rgb(163, 224, 255) 27px 51px, rgb(163, 224, 255) 30px 51px,
    rgb(163, 224, 255) 33px 51px, rgb(163, 224, 255) 36px 51px,
    rgb(163, 224, 255) 39px 51px, rgb(163, 224, 255) 42px 51px,
    rgb(163, 224, 255) 45px 51px;
    /*
      width: 90px;
      height: 45px;
    */
}
